#N
X\[0\]
X\[1\]
X\[2\]
X\[3\]
X\[4\]
X\[5\]
X\[6\]
X\[7\]

#S
Y\[0\]
Y\[1\]
Y\[2\]
Y\[3\]
Y\[4\]
Y\[5\]
Y\[6\]
Y\[7\]

#E
Product\[0\]
Product\[1\]
Product\[2\]
Product\[3\]
Product\[4\]
Product\[5\]
Product\[6\]
Product\[7\]

#W
Product\[8\]
Product\[9\]
Product\[10\]
Product\[11\]
Product\[12\]
Product\[13\]
Product\[14\]
Product\[15\]
